<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionários</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <ul id="listaOpcoes">
        <h1>Lista de Opções</h1>
        <li id="cadastrarFuncionario"><a href="http://localhost:8080/novoFuncionario">Cadastrar Funcionario</a></li>
        <li><a href="http://localhost:8080/gerenciarFuncionarios">Gerenciar Funcionarios</a></li>
    </ul>
    
    <ul id="listaIntegrantes">
        <h3>Lista de Integrantes</h3>
        <li>Felipe Ribeiro Albernaz Fernandes - Matricula: 202002463589</li>
        <li>André Lucas Cunha da Silva - Matricula: 202003458971</li>
    </ul>
    
</body>
</html>
